# General
*~
*.lock
*.DS_Store
*.swp
*.out

# Generated Code
generated/

# C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a

# Java
*.class
*.jar

# Maven
.classpath
.project
.settings/
target/

# Python
*.pyc
__pycache__/
